<eg-staff-banner bannerText="Local Administration" i18n-bannerText>
</eg-staff-banner>

<div class="container">
  <eg-link-table columnCount="3">
    <eg-link-table-link i18n-label label="Address Alerts" 
      routerLink="/staff/admin/local/actor/address_alert"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Age Overdue Circulations to Lost" 
      url="/eg/staff/admin/local/circ/age_to_lost"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Auto-Print Settings" 
      url="/eg/staff/admin/local/config/auto_print"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Barcode Completion" 
      routerLink="/staff/admin/local/config/barcode_completion"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Carousel Library Mappings"
      routerLink="/staff/admin/local/container/carousel_org_unit"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Carousels"
      routerLink="/staff/admin/local/container/carousel"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Cash Reports" 
      url="/eg/staff/admin/local/money/cash_reports"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Limit Sets" 
      url="/eg/staff/admin/local/config/circ_limit_set"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Policies" 
      url="/eg/staff/admin/local/config/circ_matrix_matchpoint"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Closed Dates Editor" 
      url="/eg/staff/admin/local/actor/closed_dates"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Item Alert Types" 
      url="/eg/staff/admin/local/config/copy_alert_types"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Item Alert Suppression" 
      routerLink="/staff/admin/local/actor/copy_alert_suppress"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Shelving Location Groups" 
      url="/eg/staff/admin/local/asset/copy_location_group"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Shelving Location Order" 
      url="/eg/staff/admin/local/asset/copy_location_order"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Shelving Locations Editor" 
      routerLink="/staff/admin/local/asset/copy_location"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Item Tags" 
      routerLink="/staff/admin/local/asset/copy_tag"></eg-link-table-link>
    <!-- do-able with a list of IDL classes to add to the edit dialog -->
    <eg-link-table-link i18n-label label="Field Documentation" 
      url="/eg/staff/admin/local/config/idl_field_doc"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Group Penalty Thresholds" 
      routerLink="/staff/admin/local/permission/grp_penalty_threshold"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Hold Policies" 
      routerLink="/staff/admin/local/config/hold_matrix_matchpoint"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Library Settings Editor" 
      url="/eg/staff/admin/local/asset/org_unit_settings"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Non-Cataloged Types Editor" 
      routerLink="/staff/admin/local/config/non_cataloged_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Notifications / Action Triggers" 
      url="/eg/staff/admin/local/action_trigger/event_definition"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Patrons with Negative Balances" 
      url="/eg/staff/admin/local/circ/neg_balance_users"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Permission Tree Display Entries" 
      url="/eg/staff/admin/local/permission/grp_tree_display_entry"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Search Filter Groups" 
      url="/eg/staff/admin/local/actor/search_filter_group"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Standing Penalties" 
      routerLink="/staff/admin/local/config/standing_penalty"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Statistical Categories Editor" 
      url="/eg/staff/admin/local/asset/stat_cat_editor"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Statistical Popularity Badges" 
      routerLink="/staff/admin/local/rating/badge"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Surveys" 
      url="/eg/staff/admin/local/action/survey"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Transit List" 
      url="/eg/staff/circ/transits/list"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Holdings Template Editor" 
      url="/eg/staff/cat/volcopy/edit_templates"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Work Log" 
      url="/eg/staff/admin/workstation/log"></eg-link-table-link>

  </eg-link-table>
</div>
