<!-- 
  TODO
  routerLink's
  egDateFilter's
-->

<div class="col-lg-12 card tight-card mb-2 bg-light">
  <div class="card-body">
    <div class="row">
      <!-- Checkbox, jacket image, and title blob live in a flex row
           because there's no way to give them col-lg-* columns that
           don't waste a lot of space. -->
      <div class="col-lg-7 d-flex">
        <label class="checkbox">
          <span class="font-weight-bold font-italic">
            {{index + 1 + searchContext.pager.offset}}.
          </span>
          <input class="pl-1" type='checkbox' [(ngModel)]="isRecordSelected"
            (change)="toggleBasketEntry()"/>
        </label>
        <!-- XXX hard-coded width so columns align vertically regardless
             of the presence of a jacket image -->
        <div class="pl-2 record-jacket-div" >
          <ng-container *ngIf="hasMrConstituentRecords(summary)">
            <a routerLink="/staff/catalog/search"
              [queryParams]="appendFromMrParam(summary)">
              <img src="/opac/extras/ac/jacket/medium/r/{{summary.id}}"/>
            </a>
          </ng-container>
          <ng-container *ngIf="!hasMrConstituentRecords(summary)">
              <a routerLink="/staff/catalog/record/{{summary.id}}"
                [queryParams]="currentParams()">
                <img src="/opac/extras/ac/jacket/medium/r/{{summary.id}}"/>
              </a>
          </ng-container>
        </div>
        <!-- for call number browse display -->
        <ng-container *ngIf="callNumber">
          <div class="pl-2 font-weight-bold">
            {{callNumber.prefix().label()}}
            {{callNumber.label()}}
            {{callNumber.suffix().label()}}
            @ {{orgName(callNumber.owning_lib())}}
          </div>
        </ng-container>
        <div class="flex-1 pl-2">
          <div class="row">
            <div class="col-lg-12 font-weight-bold">
              <!-- nbsp allows the column to take shape when no value exists -->
              <ng-container *ngIf="hasMrConstituentRecords(summary)">
                  <a routerLink="/staff/catalog/search"
                    [queryParams]="appendFromMrParam(summary)">
                    {{summary.display.title || '&nbsp;'}}
                  </a>
              </ng-container>
              <ng-container *ngIf="!hasMrConstituentRecords(summary)">
                <a routerLink="/staff/catalog/record/{{summary.id}}"
                  [queryParams]="currentParams()">
                  {{summary.display.title || '&nbsp;'}}
                </a>
              </ng-container>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12">
              <!-- nbsp allows the column to take shape when no value exists -->
              <a routerLink="/staff/catalog/search"
                  [queryParams]="getAuthorSearchParams(summary)">
                {{summary.display.author || '&nbsp;'}}
              </a>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12">
              <ng-container *ngIf="summary.attributes.icon_format && summary.attributes.icon_format[0]">
                <ng-container *ngFor="let icon of summary.attributes.icon_format">
                <span class="pr-1">
                  <img class="pr-1"
                    src="/images/format_icons/icon_format/{{icon}}.png"/>
                  <span>{{iconFormatLabel(icon)}}</span>
                </span>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-lg-12">
              <ng-container *ngIf="summary.display.physical_description">
                <!-- [].concat() to avoid modifying the summary arrays -->
                <div class="pb-1" i18n>Phys. Desc.: 
                  {{[].concat(summary.display.physical_description).join(', ')}}
                </div>
              </ng-container>
              <ng-container *ngIf="summary.display.edition">
                <div class="pb-1" i18n>Edition: {{summary.display.edition}}</div>
              </ng-container>
              <ng-container *ngIf="summary.display.publisher || summary.display.pubdate">
                <!-- note publisher typically includes pubdate -->
                <ng-container *ngIf="summary.display.publisher; else pubDate">
                  <div class="pb-1" i18n>Publisher: {{summary.display.publisher}}</div>
                </ng-container>
                <ng-template #pubDate>
                  <div class="pb-1" i18n>Pub Date: {{summary.display.pubdate}}</div>
                </ng-template>
              </ng-container>
              <ng-container *ngIf="summary.display.isbn">
                <div class="pb-1" i18n>ISBN: 
                  {{[].concat(summary.display.isbn).join(', ')}}</div>
              </ng-container>
              <ng-container *ngIf="summary.display.upc">
                <div class="pb-1" i18n>UPC: 
                  {{[].concat(summary.display.upc).join(', ')}}</div>
              </ng-container>
              <ng-container *ngIf="summary.display.issn">
                <div i18n>ISSN: 
                  {{[].concat(summary.display.issn).join(', ')}}</div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="row" [ngClass]="{'pt-2':copyIndex > 0}" 
          *ngFor="let copyCount of summary.holdingsSummary; let copyIdx = index">
          <div class="w-100" *ngIf="copyCount.type == 'staff'">
            <div class="float-left text-left w-50">
              <span class="pr-1">
              {{copyCount.available}} / {{copyCount.count}} items
              </span>
            </div>
            <div class="float-left w-50">
              @ {{orgName(copyCount.org_unit)}}
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
        <div class="row">
          <div class="w-100">
            TCN: {{summary.record.tcn_value()}}
          </div>
        </div>
        <div class="row">
          <div class="w-100">
            Holds: {{summary.holdCount}}
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="row">
          <div class="col-lg-12">
            <div class="float-right small-text-1">
              Created {{summary.record.create_date() | date:'shortDate'}} by
              <!-- creator if fleshed after the initial data set is loaded -->
              <a *ngIf="summary.record.creator().usrname" target="_self" 
                href="/eg/staff/circ/patron/{{summary.record.creator().id()}}/checkout">
                  {{summary.record.creator().usrname()}}
              </a>
              <!-- add a spacer pending data to reduce page shuffle -->
              <span *ngIf="!summary.record.creator().usrname"> ... </span>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-12">
            <div class="float-right small-text-1" i18n>
              Edited {{summary.record.edit_date() | date:'shortDate'}} by
              <a *ngIf="summary.record.editor().usrname" target="_self" 
                href="/eg/staff/circ/patron/{{summary.record.editor().id()}}/checkout">
                  {{summary.record.editor().usrname()}}
              </a>
              <span *ngIf="!summary.record.editor().usrname"> ... </span>
            </div>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-12">
            <div class="float-right">
              <span>
                <button (click)="placeHold()"
                  class="btn btn-sm btn-success label-with-material-icon small-text-1">
                  <span class="material-icons">check</span>
                  <span i18n>Place Hold</span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div><!-- col -->
    </div><!-- row -->
  </div><!-- card-body -->
</div><!-- card -->

