
/**
 * Force the jacket image column to consume a consistent amount of 
 * horizontal space, while allowing some room for the browser to 
 * render the correct aspect ratio.
 */
.record-jacket-div {
    width: 120px;
}

.record-jacket-div img {
    height: 100%;
    max-height: 158px;
    max-width: 100px;
}
