<eg-staff-banner bannerText="Server Administration" i18n-bannerText>
</eg-staff-banner>

<div class="container">
  <eg-link-table columnCount="3">
    <eg-link-table-link i18n-label label="Actor Stat Cat Sip Fields"  
      routerLink="/staff/admin/server/actor/stat_cat_sip_fields"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Age Hold Protect Rules"  
      routerLink="/staff/admin/server/config/rule_age_hold_protect"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Asset Stat Cat Sip Fields"  
      routerLink="/staff/admin/server/asset/stat_cat_sip_fields"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Authority Browse Axes"  
      routerLink="/staff/admin/server/authority/browse_axis"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Authority Control Sets"  
      routerLink="/staff/admin/server/authority/control_set"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Authority Heading Fields"  
      routerLink="/staff/admin/server/authority/heading_field"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Authority Thesauri"  
      routerLink="/staff/admin/server/authority/thesaurus"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Best-Hold Selection Sort Order"  
      routerLink="/staff/admin/server/config/best_hold_order"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Billing Types"  
      routerLink="/staff/admin/server/config/billing_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Call Number Prefixes"  
      routerLink="/staff/admin/server/asset/call_number_prefix"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Call Number Suffixes"  
      routerLink="/staff/admin/server/asset/call_number_suffix"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Carousel Types"
      routerLink="/staff/admin/server/config/carousel_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Duration Rules"  
      routerLink="/staff/admin/server/config/rule_circ_duration"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Limit Groups"  
      routerLink="/staff/admin/server/config/circ_limit_group"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Matchpoint Weights"  
      routerLink="/staff/admin/server/config/circ_matrix_weights"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Max Fine Rules"  
      routerLink="/staff/admin/server/config/rule_max_fine"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Modifiers"  
      routerLink="/staff/admin/server/config/circ_modifier"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Circulation Recurring Fine Rules"  
      routerLink="/staff/admin/server/config/rule_recurring_fine"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Item Statuses"  
      routerLink="/staff/admin/server/config/copy_status"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Item Tag Types"  
      routerLink="/staff/admin/server/config/copy_tag_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Custom Org Unit Trees"  
      url="/eg/staff/admin/server/actor/org_unit_custom_tree"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Floating Groups"  
      routerLink="/staff/admin/server/config/floating_group"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Global Flags"  
      routerLink="/staff/admin/server/config/global_flag"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Hard Due Date Changes"  
      routerLink="/staff/admin/server/config/hard_due_date"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Hold Matchpoint Weights"  
      routerLink="/staff/admin/server/config/hold_matrix_weights"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Import Match Sets"  
      routerLink="/staff/admin/server/vandelay/match_set"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Coded Value Maps"  
      routerLink="/staff/admin/server/config/coded_value_map"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Import Remove Fields"  
      routerLink="/staff/admin/server/vandelay/import_bib_trash_group"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Record Attributes"  
      routerLink="/staff/admin/server/config/record_attr_definition"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Search/Facet Class FTS Maps"  
      routerLink="/staff/admin/server/config/metabib_class_ts_map"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Search/Facet Classes"  
      routerLink="/staff/admin/server/config/metabib_class"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Search/Facet Field FTS Maps"  
      routerLink="/staff/admin/server/config/metabib_field_ts_map"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Search/Facet Fields"  
      routerLink="/staff/admin/server/config/metabib_field"></eg-link-table-link>
    <eg-link-table-link i18n-label label="MARC Tag Tables"  
      routerLink="/staff/admin/server/config/marc_field"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Org Unit Proximity Adjustments"  
      routerLink="/staff/admin/server/actor/org_unit_proximity_adjustment"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Organization Types"  
      routerLink="/staff/admin/server/actor/org_unit_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Org Unit Setting Types"  
      routerLink="/staff/admin/server/config/org_unit_setting_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Organizational Units"  
      routerLink="/staff/admin/server/actor/org_unit"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Permission Groups"  
      routerLink="/staff/admin/server/permission/grp_tree"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Permissions"  
      routerLink="/staff/admin/server/permission/perm_list"></eg-link-table-link>
    <!-- Probably should move this to local admin once it's migrated -->
    <eg-link-table-link i18n-label label="Print Templates"  
      routerLink="/staff/admin/server/config/print_template"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Remote Accounts"  
      routerLink="/staff/admin/server/config/remote_account"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Remote Authentication Profiles"  
      routerLink="/staff/admin/server/config/remoteauth_profile"></eg-link-table-link>
    <eg-link-table-link i18n-label label="SMS Carriers"  
      routerLink="/staff/admin/server/config/sms_carrier"></eg-link-table-link>
    <eg-link-table-link i18n-label label="User Activity Types"  
      routerLink="/staff/admin/server/config/usr_activity_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="User Setting Types"  
      routerLink="/staff/admin/server/config/usr_setting_type"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Weights Association"  
      routerLink="/staff/admin/server/config/weight_assoc"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Z39.50 Index Field Maps"  
      routerLink="/staff/admin/server/config/z3950_index_field_map"></eg-link-table-link>
    <eg-link-table-link i18n-label label="Z39.50 Servers"  
      routerLink="/staff/admin/server/config/z3950_source"></eg-link-table-link>
  </eg-link-table>
</div>
