<ng-template #successStrTmpl i18n>{{idlClassDef.label}} Update Succeeded</ng-template>
<eg-string #successString [template]="successStrTmpl"></eg-string>

<ng-template #updateFailedStrTmpl i18n>Update of {{idlClassDef.label}} failed</ng-template>
<eg-string #updateFailedString [template]="updateFailedStrTmpl"></eg-string>

<ng-template #deleteFailedStrTmpl i18n>Delete of {{idlClassDef.label}} failed or was not allowed</ng-template>
<eg-string #deleteFailedString [template]="deleteFailedStrTmpl"></eg-string>

<ng-template #deleteSuccessStrTmpl i18n>{{idlClassDef.label}} Successfully Deleted</ng-template>
<eg-string #deleteSuccessString [template]="deleteSuccessStrTmpl"></eg-string>

<ng-template #createStrTmpl i18n>{{idlClassDef.label}} Succeessfully Created</ng-template>
<eg-string #createString [template]="createStrTmpl"></eg-string>

<ng-template #createErrStrTmpl i18n>Failed to create new {{idlClassDef.label}}</ng-template>
<eg-string #createErrString [template]="createErrStrTmpl"></eg-string>

<ng-container *ngIf="orgField">
  <eg-org-family-select
    [limitPerms]="viewPerms" 
    [selectedOrgId]="contextOrg.id()"
    [(ngModel)]="searchOrgs"
    (ngModelChange)="grid.reload()">
  </eg-org-family-select>
  <hr/>
</ng-container>

<!-- idlObject and fieldName applied programmatically -->
<eg-translate #translator></eg-translate>

<ng-container *ngIf="helpTemplate">
  <ng-container *ngTemplateOutlet="helpTemplate"></ng-container>
</ng-container>

<eg-grid #grid idlClass="{{idlClass}}" [dataSource]="dataSource" 
    [sortable]="true" persistKey="{{persistKey}}" [showLinkSelectors]="true">
  <eg-grid-toolbar-button [disabled]="!canCreate" 
    label="New {{idlClassDef.label}}" i18n-label (onClick)="createNew()">
  </eg-grid-toolbar-button>
  <eg-grid-toolbar-button [disabled]="translatableFields.length == 0" 
    label="Apply Translations" i18n-label (onClick)="translate()">
  </eg-grid-toolbar-button>
  <eg-grid-toolbar-action label="Edit Selected" i18n-label (onClick)="editSelected($event)">
  </eg-grid-toolbar-action>
  <eg-grid-toolbar-action label="Delete Selected" i18n-label (onClick)="deleteSelected($event)">
  </eg-grid-toolbar-action>
</eg-grid>

<eg-fm-record-editor #editDialog idlClass="{{idlClass}}" 
    [fieldOptions]="fieldOptions"
    [preloadLinkedValues]="true" readonlyFields="{{readonlyFields}}">
</eg-fm-record-editor>


